h1 {
    text-align: center;
    font-family: cursive;
    margin-top: 50px;

}

* {
    margin: 0;
    padding: 0;
}

.formContent {

    padding: 10px;
    margin-left: 450px;
    margin-top: 100px;
    padding-top: 50px;
    width: 600px;
    height: 300px;
    font-family: cursive;
    text-align: center;
    border: medium solid grey;
    border-radius: 30px;
}

.firstName {
    margin-right: 30px;
    margin-bottom: 20px;
}

#eMail {
    width: 500px;
    margin-bottom: 20px;
}

#age {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#submit {
    margin-top: 40px;
    height: 30px;
    width: 60px;
    border: medium solid black;
    border-radius: 8px;

}

@media (hover: hover) {

    /* when hover is supported */
    #submit:hover {

        background-color: pink;

    }
}

.resume_block {
    margin-left: 100px;
}

body {
    background: url(images/hand-drawn-minimal-background_23-2149017896.avif);
    background-size: cover;
}